# === gcc13 + C++23 toolchain defaults ===
build:gcc13_cpp23
build:gcc13_cpp23 --action_env=CC=/usr/bin/gcc-13
build:gcc13_cpp23 --action_env=CXX=/usr/bin/g++-13
build:gcc13_cpp23 --host_action_env=CC=/usr/bin/gcc-13
build:gcc13_cpp23 --host_action_env=CXX=/usr/bin/g++-13
build:gcc13_cpp23 --cxxopt=-std=gnu++23
build:gcc13_cpp23 --host_cxxopt=-std=gnu++23

# === opt mode ===
build:opt
build:opt -c opt
build:opt --strip=always

# === debug mode ===
build:dbg
build:dbg -c dbg
build:dbg --strip=never

# === fastbuild mode ===
build:fast
build:fast -c fastbuild

# === ENABLE SSL + QUIC + LIBDEFLATE ===
build:with_ssl --config=gcc13_cpp23
build:with_ssl --define USE_SSL=true
build:with_ssl --define WITH_BORINGSSL=1
build:with_ssl --define WITH_QUIC=1
build:with_ssl --define WITH_LIBDEFLATE=1

# === DISABLE SSL + QUIC + LIBDEFLATE ===
build:without_ssl --config=gcc13_cpp23
build:without_ssl --define USE_SSL=false
build:without_ssl --define WITH_BORINGSSL=0
build:without_ssl --define WITH_QUIC=0
build:without_ssl --define WITH_LIBDEFLATE=0

# === SSL + QUIC + LIBDEFLATE (Debug) ===
build:sslquic_dbg --config=with_ssl
build:sslquic_dbg --config=dbg

# === SSL + QUIC + LIBDEFLATE (Fastbuild) ===
build:sslquic --config=with_ssl
build:sslquic --config=fast

# === SSL + QUIC + LIBDEFLATE (Release/Opt) ===
build:sslquic_opt --config=with_ssl
build:sslquic_opt --config=opt
build:sslquic_opt --define SERCOM_DEBUG_LOGS=1

# === Vanilla (Debug) ===
build:vanilla_dbg --config=without_ssl
build:vanilla_dbg --config=dbg

# === Vanilla (Fastbuild) ===
build:vanilla --config=without_ssl
build:vanilla --config=fast

# === Vanilla (Release/Opt) ===
build:vanilla_opt --config=without_ssl
build:vanilla_opt --config=opt

# === configurations for tests ===
test:testing --config=dbg
test:testing --config=gcc13_cpp23
test:testing --test_output=all
test:testing --verbose_failures
test:testing --nocache_test_results

# === benchmark tests (release/opt) ===
test:benchmark --config=opt
test:benchmark --config=gcc13_cpp23
test:benchmark --test_output=all
test:benchmark --nocache_test_results
