:443 {
  tls /certs/cert.pem /certs/key.pem

  @preflight method OPTIONS
  respond @preflight 204

  # LiveKit signaling (CORS only here)
  handle_path /livekit* {
    header {
      Access-Control-Allow-Origin "{http.request.header.Origin}"
      Access-Control-Allow-Credentials "true"
      Access-Control-Allow-Methods "GET, OPTIONS"
      Access-Control-Allow-Headers "Authorization, Content-Type, X-Room-ID"
    }

    reverse_proxy {
      to 127.0.0.1:7880
      to 127.0.0.1:7890
      lb_policy header X-Room-ID
    }
  }

  # Backend WebSocket server
  map {http.request.header.Authorization} {ws_auth_header} {
    default {http.request.header.Authorization}
    "" "supabase {http.request.cookie.ws_auth}"
  }
  handle_path /ws* {
    reverse_proxy {
      to 127.0.0.1:9001
      to 127.0.0.1:9002
      lb_policy least_conn
      header_up Host {host}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
      header_up Origin {http.request.header.Origin}
      header_up Authorization {ws_auth_header}
    }
  }

  # Nuxt frontend
  handle {
    reverse_proxy 127.0.0.1:3000
  }
}
