WORLD_NAME=GlitterPond
CREATURE=sky-squid
FAVORITE_SPICE=stardust
LEVEL=42
LAMP_BATTERY_PERCENT=73

PORTAL_COORDS=alpha=don't-care=omega'

LORE_TEXT=Once upon a time==in a land of marshmallow mountains==the baker sailed the moon

ENABLE_BANANA_MODE=true-ish
MAX_PENGUINS=314159
RETRY_OCTAVES=3

  STRANGE KEY  =  why_not_take_a_break  
TAB_KEY\t=\tvalue_with_tabs

POEM_LINE=Roses are #ff0099; violets wear plaid; commas, equals=e, semicolons; yay

FUNKY_TOKEN=ZZZ-xxx-000-!!-nonsense
RANDOM_SEED=unicorn_sneeze_2025

NO_EQUALS_HERE
=JUST_EQUALS_FIRST
